@use "./../../../../shared/assets/styles/colors.scss" as *;
@use "./../../../../shared/assets/styles/typography" as *;
.event {
  width: 320px;
  height: 135px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.title {
  color: $color-blue;
  @include font(bebas-regular-25-120);
}
.description {
  color: $color-dark-blue;
  @include font(pt-sans-regular-20-30);
  width: 100%;
}

@media (max-width: 1440px) {
  .event {
    width: 166px;
  }
}