@use "./../../../../shared/assets/styles/colors.scss" as *;
@use "./../../../../shared/assets/styles/typography" as *;
.title {
  color: $color-dark-blue;
  @include font(pt-sans-bold-56-120);
  width: 353px;
  align-self: flex-start;
  margin-left: 80px;
  margin-top: 170px;
}
.root {
  color: $color-white;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative
}

@media (max-width: 1440px) {
  .root {
    width: 100%;
  }
  .title{
    margin-left: 20px;
    width: clamp(123px, 25vw, 353px);
    margin-top: clamp(59px, 8vw, 170px);
    font-size: clamp(20px, 4vw, 56px);
  }
}