@use './../../../../shared/assets/styles/colors.scss' as *;
@use './../../../../shared/assets/styles/typography.scss' as *;

.root {
  width: 1120px;
  margin: 50px auto;
  position: relative;
}
@media (max-width: 1440px) {
  .root {
    width: calc(100vw - 20px);
    padding-left: 20px;
  }
}


