.btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.btnPrev {
  left: -80px;
}

.btnNext {
  right: -80px;
}

@media (max-width: 1440px) {
  .btn {
    display: none;
  }
}