@use "sass:map";

@mixin font($font) {
  $style: map.get($fonts, $font);
  font-family: map.get($style, family), sans-serif;
  font-weight: map.get($style, weight);
  font-size: map.get($style, size);
  line-height: map.get($style, line-height);
}

$fonts: (
  pt-sans-bold-200-160: (
    family: "PT Sans",
    weight: 700,
    size: 200px,
  ),
  pt-sans-bold-56-120: (
    family: "PT Sans",
    weight: 700,
    size: 56px,
  ),
        pt-sans-bold-20: (
                family: "PT Sans",
                weight: 700,
                size: 20px,
        ),
  pt-sans-regular-20-30: (
    family: "PT Sans",
    weight: 400,
    size: 20px,
  ),
  pt-sans-regular-14: (
    family: "PT Sans",
    weight: 400,
    size: 14px,
  ),
  bebas-regular-25-120: (
    family: "Bebas Neue",
    weight: 400,
    size: 25px,
  ),
);
