@use "./../../../../shared/assets/styles/colors.scss" as *;
@use "./../../../../shared/assets/styles/typography.scss" as *;

.root {
  display: flex;
  gap: clamp(35px, 8vw, 120px);
  position: absolute;
  top: 155px;
  z-index: 2;
}
.year {
  @include font(pt-sans-bold-200-160);
  font-size: clamp(56px, 12vw, 200px);
}
.startYear{
  color: $color-purple
}
.endYear{
  color: $color-pink
}
@media (max-width: 1440px) {
  .root {
    position: relative;
    top: 56px;
    margin-bottom: 56px;
  }
}